// colors
$accentColor = #ff2099
$textColor = #353535
$blockColor = #f1f5f8
$borderColor = #eaecef
$codeBgColor = $blockColor
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py php twig

@import '~@temp/override.styl'